<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digidoctor.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:replace="android:theme">
        <activity android:name=".VideoCallActivity.VideoActivity" />
        <activity
            android:name=".VideoCallActivity.CallReceiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SignUpJourneyActivity"
            android:label="@string/title_activity_tabbed_demo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoToolbar" />
        <activity
            android:name=".view.activity.PatientDashboard"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/nav_graph" />


            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="yourapp" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.app.link"
                    android:scheme="https" />
                <!-- example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website.  -->
                <data
                    android:host="example-alternate.app.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.SplashScreen"
            android:theme="@style/AppTheme.NoToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utility.ImagePickerActivity"
            android:screenOrientation="portrait" />

        <service android:name=".utility.GetAddressIntentService" />

        <service
            android:name=".utility.FirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_dhYiqeGuLRtNQ8OJlDZ3skfetDdT6vpa" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_jk3fvfKqJGqLV3GKdB0YKidaDxkT1yiB" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="true" />
        <!-- Set to true to use Branch_Test_Key (useful when simulating installs and/or switching between debug and production flavors) -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".utility.OTPReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".utility.WakefulBroadcasterReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="myReceiver" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BluetoothBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="myReceiver2" />
            </intent-filter>
        </receiver>
    </application>
</manifest>